.headerContainer {
    background: rgb(32, 32, 36);
    height: 6.5rem;

    display: flex;
    align-items: center;

    padding: 2rem 4rem;

    p {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--white);
    }

    span {
        margin-left: auto;
        text-transform: capitalize;
    }
}
